body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 50px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

.form-container {
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #495057;
}

input,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.meetings-list {
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.meeting-item {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .container {
        margin: 20px;
        padding: 10px;
    }

    .form-container {
        padding: 10px;
        margin-bottom: 10px;
    }

    .meetings-list {
        padding: 10px;
        margin-bottom: 10px;
    }
}
